$card-background: hsl(216, 50%, 16%);
$main-background: hsl(217, 54%, 11%);
$text-color: hsl(0, 0%, 100%);
$text-color-light: hsla(0, 0%, 100%, 0.5);
$line: hsl(215, 32%, 27%);
$soft-blue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);
